.c-card {
  @include flex('column');
  font-size: rem(16);
  padding: 0;
  border-radius: rem(2);
  margin-bottom: rem(24);

  &__header {
    border-top: rem(3) solid $color-ubuntu;
    border-radius: rem(2);
    padding: rem(8) rem(16) rem(8);
    h5 {
      line-height: rem(12.8);
    }
  }

  &__content {
    @include flex('column');
    border-top: rem(1) dotted $color-mid-light;
    height: 100%;
    margin: 0 rem(8);
    padding: rem(16) rem(8) rem(8);
  }

  &__img {
    /*
      Here i used flex to center image, another solution we can use srcset to use image with different sizes
     */
    @include flex('row', 'center');
    img {
      max-height: rem(200);
    }
  }

  &__heading {
    margin: rem(8) 0;
    color: $color-link;
  }

  &__semantic {
    margin: rem(8) 0 rem(1.6) 0;
    padding: rem(0) rem(16);
    a {
      color: $color-link;
    }
  }

  &__footer {
    text-transform: capitalize;
    border-top: rem(1) dotted $color-mid-light;
    font-size: rem(14);
    margin: 0 rem(8);
    padding: rem(16) rem(8);
  }
}
