#splash-screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: -1rem;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  &.hide {
    opacity: 0;
  }
  span {
    margin-top: rem(8);
    font-size: rem(14.4);
  }
}
