@mixin flex($direction, $align: 'flex-start', $axis: 'horizontal') {
  display: flex;
  flex-direction: #{$direction};
  @if ($axis == 'vertical') {
    align-items: #{$align};
  }
  @if ($axis == 'horizontal')  {
    justify-content: #{$align};
  }
}
